.App {
  color: beige;
}

.snake {
  display: flex;
  flex-direction: row;
  background-color: yellowgreen;
}
/* 
.blocks-container{
  display: block;
} */

.block {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: whitesmoke;
  /* border-radius: 36px; */
}

html {
  height: 100%;
}


body {
  position: relative;
  min-height: 100%;
  background-color: black;
}