.App {
  color: beige;
}
.block {
  position: absolute;
  background-color: yellowgreen;
}

.block {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 36px;
}

html {
  height: 100%;
}


body {
  position: relative;
  min-height: 100%;
  background-color: aqua;
}